---
interface Props {
	id?: string;
	attributes?: object;
	className?: string;
	variant?: string;
}

const { id, attributes, className, variant} = Astro.props;

let colors = 'text-neutral-800 bg-white hover:bg-neutral-100 border border-neutral-200';

if (variant === "alt") {
	colors = "text-neutral-50 bg-neutral-800 hover:bg-neutral-700";
} else if (variant === "ghost") {
	colors = 'text-neutral-800 bg-neutral-100 hover:bg-neutral-200';
}
---

<p class={`text-sm w-fit px-2 py-0.5 flex justify-center items-center gap-1 transition-colors rounded-full shadow-sm ${colors} ${className}`} id={id} {...attributes}>
    <slot />
</p>